@mixin alert-variant( $background, $border, $color: color-contrast( $background, $color-contrast-dark, // Black text
$color-contrast-light, // White text
2.5 // minimum contrast ratio
)) {
    color: $color;
    background-color: $background;
    border-color: $border;
}